<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>jsf_ejb_jpa</display-name>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>500</error-code>
		<location>/error.xhtml</location>
	</error-page>

	<servlet>
		<description>The JSF Servlet</description>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<!-- Following param only needed for MyFaces (TomEE, etc) -->
	<context-param>
		<param-name>org.apache.myfaces.SERIALIZE_STATE_IN_SESSION</param-name>
		<param-value>false</param-value>
	</context-param>

	<data-source>
		<name>java:app/MyApp/myDS</name>
		<class-name>org.h2.jdbcx.JdbcDataSource</class-name>
		<url>jdbc:h2:~/mydb;DB_CLOSE_DELAY=-1</url>
		<!-- <url>jdbc:h2:~/test;DB_CLOSE_DELAY=-1</url> -->
		<user>sa</user>
		<password>sa</password>
		<!--Following line only needed for JBoss AS 7 -->
		<transactional>false</transactional>
		<max-pool-size>10</max-pool-size>
		<min-pool-size>5</min-pool-size>
		<max-statements>0</max-statements>
	</data-source>

</web-app>
